
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.reset.title}">Platinium Auto password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.reset.text1}">
            
        </p>
        <p>
            <a th:href="@{|${baseUrl}/account/reset?key=${user.resetKey}|}"
               th:text="|${user.email}|">Reset Link</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Platinium Auto.</em>
        </p>
    </body>
</html>